@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}
@mixin center{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
}
//1em 16px
@mixin respond($device){
    @if $device==phone{
        @media (max-width:37.5em) {
            @content
        };
    }
    @if $device==tab-p{
        @media (max-width:56.25em) {
            @content
        };
    }
    @if $device==tab-l{
        @media (max-width:75em) {
            @content
        };
    }
    @if $device==desktop{
        @media (min-width:112.5em) {
            @content
        };
    }

}


