// colours
$color-primary: #7ed56f;
$color-tertiary: #28b485;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-secondary: #55c57a;
$color-gray-one:#f7f7f7;
$color-orange-first:#ffb900;
$color-orange-second:#ff7730;
$color-blue-first:#2998ff;
$color-blue-second:#5643fa;
$color-gray-dark-2:#999;
/// grid
$color-gray-dark-dark:#333;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
// font
$default-font-size:1.6rem;

