.footer {
    background-color: $color-gray-dark-dark;

    padding: 10rem 0;

    @include respond(tab-p) {
        padding: 8rem 0;
    }

    font-size: 1.4rem;

    &_copyright {
        border-top: 1px solid $color-gray-dark-2;
        padding-top: 2rem;
        width: 70%;
        float: right;
        @include respond(tab-p){
            width: 100%;
            float: none ;
        }

    }

    &_logo-box {
        text-align: center;
        margin-bottom: 8rem;
        @include respond(tab-p){
            margin-bottom: 6rem;
        }
    }

    &_logo {
        width: 15rem;
        height: auto;
    }

    &_navigation {
        border-top: 1px solid $color-gray-dark-2;
        padding-top: 2rem;
        //    opacity: 0.5;
        display: inline-block;

        @include respond(tab-p) {
            width: 100%;
            text-align: center;
        }
    }

    &_list {
        list-style: none;
    }

    &_item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &_link {

        &:visited,
        &:link {
            color: $color-gray-one;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
            background-color: $color-gray-dark-dark;
        }

        &:hover,
        &:active {
            color: $color-primary;
            box-shadow: 0 1rem 2 rem rgba($color-black, .4);
            transform: rotate(5deg) scale(1.3);
        }
    }
}