.navigation {
    &_checkbox {
        display: none;

    }

    &_button {
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 6;
        text-align: center;
        cursor: pointer;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    }
    &_background {
        // transform: scale(150);
        width: 6rem;
        height: 6rem;

        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        z-index: 4;
        right: 7rem;
        transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);

        background-image: radial-gradient($color-primary, $color-orange-second);
    }

    &_nav {
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 5;
        opacity: 0;
        width: 0;
        transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);

    }

    &_list {
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%,50%);
        @include center;
        list-style: none;
        width: 100%;
        text-align: center;
    }

    &_item {
        margin-bottom: 1rem;
    }

    &_link {

        &:link,
        &:visited {
            font-size: 3rem;
            font-weight: 300;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            padding: 1rem 2rem;
            background-size: 220%;
            transition: all .5s;
            display: inline-block;

        }

        span {
            display: inline-block;
            margin-right: 1rem;
        }

        &:hover,
        &:after {
            transform: translateX(1rem);
            background-position: 100%;
            color: $color-primary;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
        }
    }

    &_checkbox:checked~&_background {
        transform: scale(120);
    }

    &_checkbox:checked~&_nav {
        opacity: 1;
        width: 100%;
    }

    &_icon {
        position: relative;
        margin-top: 3.5rem;
        background-color: black;
        &,
        &:before,
        &:after {
            width: 3rem;
            height: 2px;
            background-color: $color-gray-dark-dark;
            display: inline-block
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;
        }

        &::before {
            top: -1rem;
        }

        &::after {
            top: 1rem;
        }
    }

    &_button:hover &_icon {
        transform: scale(1.2);
    }

    &_checkbox:checked + &_button {
        background-color: transparent;
    }

    &_checkbox:checked &_icon~*{
        background-color: $color-white;
    }
}
