.feature-box{
    background-color: rgba($color-white, .8);
    font-size: 1.5rem;
    padding: 3rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color: $color-black, $alpha: 1.0);
    transition: all .2s;
   
    @include respond(tab-p){
        margin-bottom: 5rem;
    }
    // transform: skewY(7deg);
    &__icon{
        font-size: 6rem;
        margin-bottom: .5rem;
        color: transparent;
        display: inline-block;
        background-image: linear-gradient((to right,$color-primary,$color-tertiary));
        -webkit-background-clip: text; 
        
    }
    &:hover{
        transform: translateY(-2rem) scale(1.2);
       
        
    }
  

    &__text{

    }
}
