* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html {
    font-size: 62.5%;
    //1rem 10px
    //10/16=62%
    // @include respond(phone){
    //     font-size: 50%;
    // }
    @include respond(tab-l){
        font-size: 56.25%;
    }
    @include respond(tab-p){
        font-size: 50%;
        //1rem=8px
    }
    
    @include respond(desktop){
        font-size: 75%;
    }
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 3rem;

    @include respond(tab-p){
        padding: 0;
    }
}