.section-about {
    background-color: $color-gray-one;
    padding: 25rem;
    margin-top: -20vh;
    @include respond(tab-p){
        padding: 20rem 0;
    }
    // @include respond(phone){
    //     padding: 23rem 0;
    // }

}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom,
            rgba($color-secondary, 0.8),
            rgba($color-tertiary, 0.5)),
        url(../img/nat-4.jpg);
    background-size: cover;
    background-clip: top;
    // clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    transform: skewY(-7deg); // sectionu cevirmek ucun
    margin-top: -20vh;

    &>* {
        transform: skewY(7deg);

    }
    @include respond(tab-p){
        padding: 15rem 0;
    }


}

.section-tours {
    background-color: $color-gray-one;
    padding: 25rem 0rem 15rem 0;
    margin-top: -10vh;
    @include respond(tab-p){
        padding: 20rem 0 10rem 0;
    }
}

.section-stories {
    padding: 15rem 0;
    // background-color: $color-gray-one;
    position: relative;
    @include respond(tab-p){
        padding: 10rem 0;
    }

}

.section-book {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $color-primary, $color-secondary);

}

.book {
    background-image: 
    linear-gradient(105deg, rgba($color-white, .9) 0%,
    rgba($color-white, .9) 50%,
     transparent 50%),
      url(/img/nat-10.jpg);
    // background-size: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    // height: 50rem;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    @include respond(tab-l) {
        background-image: 
        linear-gradient(105deg, rgba($color-white, .9) 0%,
        rgba($color-white, .9) 70%,
         transparent 70%),
          url(/img/nat-10.jpg);
          background-size: cover;
        

    }
    @include respond(tab-p) {
        background-image: 
        linear-gradient(to right,rgba($color-white, .9) 0%, rgba($color-white, .9) 100%);
          background-size: cover;

    }
    &_form{
        width: 50%;
        padding: 6rem;
        @include respond(tab-l) {
            width: 70%;
            
    
        }
        @include respond(tab-l) {
            width: 100%;
            
    
        }
        
    }
}